/** @format */
@use '../../styles/variables' as *;

%footer {
	padding: 9px;
}
.footer_ctl {
	@extend %footer;
	background: darken($ctl_background, 15%) !important;
	color: $ctl_text !important;
}
.footer_dk {
	@extend %footer;
	background: darken($dk_background, 20%) !important;
	color: $ctl_text !important;
}
